<a href="https://colab.research.google.com/github/wallik2/University-stuff/blob/main/Intro_Data_Sci/Homework/HW6_2_Data_presentation_Q_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd



---


# 4.Write Python code to process AAPL_data.csv and answer following question

In [ ]:
AAPL_data = pd.read_csv('/content/drive/MyDrive/Data /AAPL_data.csv')

<fieldset>
<font size="5">Stock trading Terminology</font> <br> 

- High and Low refer to the maximum and minimum prices in a given time period.

- Open and close are the prices at which a stock began and ended trading in the same period.

- Volume is the total amount of trading activity.

![33.PNG]()

---

In [ ]:
AAPL_data.head()

         date     open     high      low    close     volume  Name
1  2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL
2  2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425  AAPL
3  2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363  AAPL
4  2013-02-13  66.7442  67.6628  66.1742  66.7156  118721995  AAPL
5  2013-02-14  66.3599  67.3771  66.2885  66.6556   88809154  AAPL

In [ ]:
# Let the first index starts from 1 instead of 0 (Preference)

AAPL_data.index +=1

In [ ]:
# The Number of instances and attributes

AAPL_data.shape

(1259, 7)

In [ ]:
# Seem like AAPL is not a useful attribute, since it's all belong to AAPL

AAPL_data['Name'].value_counts()

In [ ]:
# So, Let's remove the attribute 'name'
AAPL_data.drop('Name', inplace=True, axis=1)

In [ ]:
AAPL_data.describe()

              open         high          low        close        volume
count  1259.000000  1259.000000  1259.000000  1259.000000  1.259000e+03
mean    109.055429   109.951118   108.141589   109.066698  5.404790e+07
std      30.549220    30.686186    30.376224    30.556812  3.346835e+07
min      55.424200    57.085700    55.014200    55.789900  1.147592e+07
25%      84.647800    85.334950    84.250650    84.830650  2.969438e+07
50%     108.970000   110.030000   108.050000   109.010000  4.566893e+07
75%     127.335000   128.100000   126.290000   127.120000  6.870872e+07
max     179.370000   180.100000   178.250000   179.260000  2.668336e+08

In [ ]:
# Descending the dataset by 'high' column

AAPL_data.sort_values(by='high', ascending=False)

            date      open      high       low     close     volume
1245  2018-01-18  179.3700  180.1000  178.2500  179.2600   31193352
1246  2018-01-19  178.6100  179.5800  177.4100  178.4600   32425067
1248  2018-01-23  177.3000  179.4400  176.8200  177.0400   32689146
1243  2018-01-16  177.9000  179.3900  176.1400  176.1900   29565947
1244  2018-01-17  176.1500  179.2500  175.0700  179.1000   34386836
...          ...       ...       ...       ...       ...        ...
96    2013-06-26   57.6999   57.8271   56.5228   56.8671   91924994
50    2013-04-22   56.0914   57.4571   55.8964   56.9528  107338322
97    2013-06-27   57.0357   57.3414   56.2199   56.2542   84297955
98    2013-06-28   55.9085   57.1814   55.5528   56.6471  144619734
49    2013-04-19   55.4242   57.0857   55.0142   55.7899  152194413

[1259 rows x 6 columns]

In [ ]:
AAPL_data.sort_values(by='low')

            date      open      high       low     close     volume
49    2013-04-19   55.4242   57.0857   55.0142   55.7899  152194413
98    2013-06-28   55.9085   57.1814   55.5528   56.6471  144619734
48    2013-04-18   57.8557   57.9699   55.6774   56.0071  166438048
50    2013-04-22   56.0914   57.4571   55.8964   56.9528  107338322
52    2013-04-24   56.2199   59.3214   56.0714   57.9231  242387530
...          ...       ...       ...       ...       ...        ...
1243  2018-01-16  177.9000  179.3900  176.1400  176.1900   29565947
1247  2018-01-22  177.3000  177.7800  176.6016  177.0000   27108551
1248  2018-01-23  177.3000  179.4400  176.8200  177.0400   32689146
1246  2018-01-19  178.6100  179.5800  177.4100  178.4600   32425067
1245  2018-01-18  179.3700  180.1000  178.2500  179.2600   31193352

[1259 rows x 6 columns]